<!-- head.html  -->

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>BestShot</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>

    <script src="https://kit.fontawesome.com/76e472a2b2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- 引用載入動畫 -->
    <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
</head>

